:root {
  font-family: "Manrope", "PingFang SC", "Hiragino Sans GB", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #3f3852;
  background: #fff8fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}
